[submodule "submodules/wxWidgets"]
	path = submodules/wxWidgets
	url = git://github.com/wxWidgets/wxWidgets.git

[submodule "submodules/boost-svn"]
	path = submodules/boost-svn
	url = git://github.com/ryppl/boost-svn.git
