Source: pywxsvg
Section: devel
Priority: standard
Maintainer: lolitech <gregory.trelat@lolitech.fr>
Build-Depends: cdbs, debhelper (>= 5)
XS-Python-Version: current
Standards-Version: 3.7.2

Package: pywxsvg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: wxSVG wrappers
