Source: wxsvg
Section: libs
Priority: optional
Maintainer: Uwe Bugla <uwe.bugla@gmx.de>
Build-Depends: quilt (>= 0.46-4.1), patch (>= 2.5.9-5), debhelper (>= 7.0.9), fakeroot (>= 1.9.5), automake (>= 1:1.10.1), libtool (>= 1.5.26), libwxgtk2.6-dev (>= 2.6.3.2.2), libwxbase2.6-dev (>= 2.6.3.2.2), libavformat-dev (>= 3:20080610-0.0), libavcodec-dev (>= 3:20080610-0.0), libswscale-dev (>= 3:20080610-0.0), libart-2.0-dev (>= 2.3.20), libpango1.0-dev (>= 1.20.2)

Package: libwxsvg0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libwxgtk2.6-0 (>= 2.6.3.2.2), libwxbase2.6-0 (>= 2.6.3.2.2), libart-2.0-2 (>= 2.3.20), libpango1.0-0 (>= 1.20.2), ffmpeg (>= 3:20080610-0.0)
Conflicts: wxsvg (<= 1.0b9)
Description: A C++ library to create, manipulate and render SVG files
 This package contains the shared library.
 
Package: libwxsvg-dev
Architecture: any
Section: libdevel
Depends: libwxsvg0 (>= ${binary:Version}), libwxgtk2.6-dev (>= 2.6.3.2.2), libwxbase2.6-dev (>= 2.6.3.2.2), libavformat-dev (>= 3:20080610-0.0), libavcodec-dev (>= 3:20080610-0.0), libswscale-dev (>= 3:20080610-0.0), libart-2.0-dev (>= 2.3.20), libpango1.0-dev (>= 1.20.2)
Conflicts: wxsvg (<= 1.0b9)
Description: A C++ library to create, manipulate and render SVG files
 This package contains the development files.
